@model IEnumerable<Order>

@{
    ViewData["Header"] = "OrderList";
}

<table class="table table-borderless tex" style="margin: 0 auto; width: auto; ">
    <thead>
        <tr class="border-bottom border-dark">
            <th class="border-end border-dark">Table No</th>
            <th class="border-end border-dark">Customer Name</th>
            <th class="border-end border-dark">Service Status</th>
            <th>Payment Status</th>
        </tr>
    </thead>
    <tbody class="mt-4 ">
        @foreach (var order in Model)
        {
            <tr>
                <td class="border-end border-dark pt-4 " scope="row">@order.TableNo</td>
                <td class="border-end border-dark pt-4">@order.CustomerName</td>
                <td class="border-end border-dark pt-4">@order.IsServed</td>
                <td class="pt-4">@order.IsPaid</td>
                <td class=" pt-4">
                    <a asp-controller="Barista" asp-action="OrderDetails" asp-route-id="@order.OrderId" style="text-decoration: none;
                        color: #F8F8F8;
                        background-color: #2E2928;
                        font-family: 'Raleway', sans-serif;
                        padding: 10px 13px;
                        border-radius: 14px; margin-right: 15px;
                        transition: all 0.3s;" onmouseover="this.style.opacity=0.8"
                        onmouseout="this.style.opacity=1">Details</a>
                    <a asp-controller="Barista" asp-action="Delete" asp-route-id="@order.OrderId" style="text-decoration: none;
                        color: #F8F8F8;
                        background-color: #b80f2b;
                        font-family: 'Raleway', sans-serif;
                        padding: 10px 13px;
                        border-radius: 14px;
                        transition: all 0.3s;" onmouseover="this.style.opacity=0.8"
                        onmouseout="this.style.opacity=1">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>