@model IEnumerable<CafeApp.Models.Product>

@{
    ViewData["Title"] = "Product List";
}

<h2>Product List</h2>
<hr>
<table class="table table-bordered">
    <thead>
        <tr>
            <th>Image</th>
            <th>Name</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
    @foreach (var product in Model)
    {
        var imageUrl = $"../images/product_{product.ProductId}.jpg";

        <tr>
            <td>
                <img src="@imageUrl" alt="@product.Name" style="width: 100px; height: auto;">
            </td>
            <td>@product.Name</td>
            <td>
                
                <a asp-action="Edit" asp-controller="Product" asp-route-id="@product.ProductId" class="btn btn-primary">Edit</a>

                <a asp-action="Delete" asp-controller="Product" asp-route-id="@product.ProductId" class="btn btn-danger">Delete</a>
            </td>
        </tr>
    }
    </tbody>
</table>

<a asp-action="Create" asp-controller="Product" class="btn btn-success">Add New Product</a>
