@model Tuple<List<Product>, Order>
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="~/css/create.css">
    <title>Product List</title>
</head>

<body>

    <div class="container">
        <div class="row justify-content-center">
            <div id="ProductsList" class="col-8">
                @{
                    foreach (var product in Model.Item1)
                    {
                        <div class="product-card">
                            <img src="@product.ImageSrc" alt="@product.Name">
                            <h2>@product.Name</h2>
                            <p>$ @product.Price</p>
                            <button class="bagButton"
                                onclick="addToBag(@product.ProductId, @Model.Item2.OrderId); printOrderDetails('@product.Name', @product.Price);">Add
                                to Bag</button>
                        </div>
                    }                
                }
            </div>




            <div class="col-4">
                <div id="OrderForm" class="row">
                    <form asp-controller="Order" asp-action="Create" method="post" onsubmit="return check()">
                        <div>
                            <input asp-for="Item2.OrderId" type="hidden" name="orderId" class="form-control" value="@Model.Item2.OrderId">
                        </div>

                        <div>
                            <label asp-for="Item2.TableNo" class="form-label">Table Number</label>
                            <input asp-for="Item2.TableNo" name="tableNo" class="form-control" required>
                        </div>

                        <div>
                            <label asp-for="Item2.CustomerName" class="form-label">Customer Name</label>
                            <input asp-for="Item2.CustomerName" name="customerName" class="form-control" required>
                        </div>

                        <div>
                            <input asp-for="Item2.TotalPrice" type="hidden" id="totalPrice" name="totalPrice" class="form-control" value="0">
                        </div>

                        <button type="submit" class="btn btn-primary">Order</button>
                    </form>
                </div>
                <br>
                <br>
                <div id="OrderDetails" class="row">
                    <table id="tbl">
                        <tr>
                            <th>Total:</th>
                            <th id="total">$ 0</th>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>


    <script>

        function addToBag(productId, orderId) {

            console.log("Adding to bag:", productId);

            $.ajax({
                type: "POST",
                url: "/Order/AddToBag",
                data: { productId: productId, orderId: orderId },
                success: function (response) {
                    // Handle success if needed
                },
                error: function (error) {
                    // Handle error if needed
                }
            });
        }

        function printOrderDetails(name, price, option) {

            var table = document.querySelector("#tbl");
            var tableRow = document.createElement("tr");

            var nameElement = document.createElement("td");
            if (option != undefined)
                nameElement.textContent = name + " " + option;
            else
                nameElement.textContent = name;

            var priceElement = document.createElement("td");
            priceElement.textContent = `$ ${price}`;

            tableRow.appendChild(nameElement);
            tableRow.appendChild(priceElement);
            table.insertBefore(tableRow, table.lastChild);

            var total = document.getElementById("total");
            var totalPrice = parseInt(total.textContent.substring(2)) + parseInt(price);
            total.textContent = `$ ${totalPrice}`;
        }

        function check() {
            var total = document.getElementById("total");
            var totalPrice = parseInt(total.textContent.substring(2));
            if (totalPrice == 0) {
                alert("Please choose a product!");
                return false;
            }
            else{
                document.getElementById("totalPrice").setAttribute("value", totalPrice);
                return true;
            }
        }

    </script>
</body>

</html>
