@model Tuple<List<Product>, Order>

@{
    ViewData["Header"] = "Enjoy!";
}

<link rel="stylesheet" href="~/css/createProduct.css">

<div class="Wrapper">
    <div class="productsContainer">
        <div id="ProductsList">
            @{
                foreach (var product in Model.Item1)
                {
                    <div id="product" class="product">
                        <div class="productInfo">
                            <p>@product.Name</p>
                            <p>$ @product.Price</p>
                        </div>
                        <div class="filter"></div>
                        <div class="controlBag">
                            <button
                                onclick="removeFromBag(@product.ProductId, @Model.Item2.OrderId, '@product.Name', @product.Price);"
                                class="bagButton" disabled>-</button>
                            <input id="quantityInput_@product.ProductId" value="0" type="number">
                            <button
                                onclick="addToBag(@product.ProductId, @Model.Item2.OrderId, '@product.Name', @product.Price);"
                                class="bagButton" disabled>+</button>
                        </div>
                    </div>
                }
            }
        </div>

    </div>

    <div class="right">
        <div id="OrderForm">
            <form asp-controller="Order" asp-action="Create" method="post" onsubmit="return check()">
                <div>
                    <input asp-for="Item2.OrderId" type="hidden" name="orderId" value="@Model.Item2.OrderId">
                </div>

                <div>
                    <label asp-for="Item2.TableNo" class="form-label">Table Number</label>
                    <input asp-for="Item2.TableNo" name="tableNo" required>
                </div>

                <div>
                    <label asp-for="Item2.CustomerName" class="form-label">Customer Name</label>
                    <input asp-for="Item2.CustomerName" name="customerName" required>
                </div>

                <div>
                    <input asp-for="Item2.TotalPrice" type="hidden" id="totalPrice" name="totalPrice" value="0">
                </div>

                <button type="submit">Order</button>
            </form>
        </div>
        <br>
        <br>
        <div id="OrderDetails">
            <table id="tbl">
                <tr>
                    <th>Total:</th>
                    <th id="total">$ 0</th>
                </tr>
            </table>
        </div>
    </div>
</div>


<script>
    setTimeout(function () {
        document.querySelectorAll('.bagButton').forEach(b => b.removeAttribute('disabled'));
    }, 2000);

    function addToBag(productId, orderId, productName, productPrice) {
        $.ajax({
            type: "POST",
            url: "/Order/AddToBag",
            data: { productId: productId, orderId: orderId },
            success: function (response) {
                printOrderDetails(productName, productPrice, response.quantity, productId)
                updateQuantityInput(productId, response.quantity);
            },
            error: function (error) {
            }
        });
    }

    function removeFromBag(productId, orderId, productName, productPrice) {
        $.ajax({
            type: "POST",
            url: "/Order/RemoveFromBag",
            data: { productId: productId, orderId: orderId },
            success: function (response) {
                printOrderDetails(productName, productPrice, response.quantity, productId);
                updateQuantityInput(productId, response.quantity);
            },
            error: function (error) {
            }
        });
    }

    function updateQuantityInput(productId, quantity) {
        var quantityInput = document.getElementById("quantityInput_" + productId);
        if (quantityInput) {
            quantityInput.value = quantity;
        }
    }

    var addedProducts = [];

    function printOrderDetails(name, price, quantity, productId) {
        var table = document.querySelector("#tbl");

        if (!addedProducts.includes(name) && quantity != 0) {
            var tableRow = document.createElement("tr");
            tableRow.id = productId * 100;

            var nameElement = document.createElement("td");
            nameElement.textContent = name;

            var priceElement = document.createElement("td");
            priceElement.id = `${productId * 10}`;
            priceElement.classList.add("price");
            priceElement.textContent = `$ ${price}`;

            var quantityElement = document.createElement("td");
            quantityElement.id = `${productId}`;
            quantityElement.textContent = quantity + "x";

            tableRow.appendChild(nameElement);
            tableRow.appendChild(priceElement);
            tableRow.appendChild(quantityElement);
            table.insertBefore(tableRow, table.lastChild);

            addedProducts.push(name);
        }
        else {
            var quantityElement = document.getElementById(`${productId}`);
            var priceElement = document.getElementById(`${productId * 10}`);

            quantityElement.textContent = quantity + "x";
            priceElement.textContent = "$ " + `${price}` * quantity;
        }

        var total = document.getElementById("total");
        var allPrices = document.querySelectorAll(".price");
        var totalPrice = 0;

        allPrices.forEach(priceElement => {
            var price = parseInt(priceElement.textContent.substring(2));
            totalPrice += price;

            if (price == 0) {
                var tableRow = document.getElementById(`${productId}` * 100);
                tableRow.remove();

                var index = addedProducts.indexOf(name);

                if (index !== -1) {
                    addedProducts.splice(index, 1);
                }
            }
        })

        total.textContent = `$ ${totalPrice}`;
    }

    function check() {
        var total = document.getElementById("total");
        var totalPrice = parseInt(total.textContent.substring(2));
        if (totalPrice == 0) {
            alert("Please choose a product!");
            return false;
        }
        else {
            document.getElementById("totalPrice").setAttribute("value", totalPrice);
            return true;
        }
    }
</script>