@model IEnumerable<WebProject.Models.Order>


@* MY ORDERS
+ EDİT, DELETE
+ STATUS
+ İPTAL VE EDİT İÇİN 2 DK SÜRE

 *@


<h2>Order List</h2>

<table class="table">
    <thead>
        <tr>
            <td>Order Id</td>
            <th>Table Number</th>
            <th>Customer Name</th>
            <th>Products</th>
        </tr>
    </thead>
    <tbody>
        @foreach(var pr in Model)
        {
            <tr>
                <td>@pr.OrderId</td>
                <td>@pr.TableNo</td>
                <td>@pr.CustomerName</td>
                <td>
                    @* Müşterinin eklediği ürünler Items listesinden yazdırılacak.
                    Aşağıdaki kod hata veriyor. *@
                    @* @{
                        for(int i=0; i<pr.Items.Count; i++){
                            @pr.Items[i]
                        }
                    } *@
                    
                </td>
                <td>
                    <a asp-controller="Order" asp-action="Edit" asp-route-id="@pr.OrderId" class="btn btn-primary btn-sm">Edit</a>
                    <a asp-controller="Order" asp-action="Delete" asp-route-id="@pr.OrderId" class="btn btn-danger btn-sm">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>

<a href="/Order/Create" class="btn btn-primary">Create a New Order!</a>
