@model Order



<h2>My Order</h2>

<table class="table">
  <thead>
    <tr>
      <th>Order Id</th>
      <th>Table Number</th>
      <th>Customer Name</th>
      <th>Products</th>
      <th>Total Price</th>
    </tr>
  </thead>
  <tbody>
      <tr>
        <td>@Model.OrderId</td>
        <td>@Model.TableNo</td>
        <td>@Model.CustomerName</td>
      <td>
    @{
        decimal totalPrice = 0;
        if (Model.Products != null && Model.Products.Any())
        {
            foreach (var sp in Model.Products)
            {
                string productName = sp.Product?.Name ?? "Product Name is null";
                string productOption = sp.Product?.Option ?? string.Empty;
                decimal productPrice = 0;

                switch (sp.Product?.Type)
                {
                    case "Beverage":
                        switch (productOption)
                        {
                            case "Tall":
                                productPrice = sp.Product.PriceTall ?? 0;
                                break;
                            case "Grande":
                                productPrice = sp.Product.PriceGrande ?? 0;
                                break;
                            case "Venti":
                                productPrice = sp.Product.PriceVenti ?? 0;
                                break;
                        }
                        break;
                    case "Dessert":
                        productPrice = sp.Product.PriceDessert ?? 0;
                        break;
                }

                <span>@productName @productOption  @(sp.Quantity)x &nbsp;&nbsp; $@productPrice</span><br>
                totalPrice += productPrice * sp.Quantity;
            }
        }
    }
</td>
<td>
    <span>$@totalPrice</span>
</td>


      
        <td>
          <a asp-controller="Order" asp-action="Edit" asp-route-id="@Model.OrderId"
            class="btn btn-primary btn-sm">Edit</a>
          <a asp-controller="Order" asp-action="Delete" asp-route-id="@Model.OrderId"
            class="btn btn-danger btn-sm">Delete</a>
        </td>
      </tr>
  </tbody>
</table>


<a href="/Order/Create" class="btn btn-primary">Create a New Order!</a>
