@model Tuple<Order, List<Product>, List<int>, Dictionary<int, int>>


<h2>My Order</h2>

<table class="table">
  <thead>
    <tr>
      <th>Customer Name</th>
      <th>Table Number</th>
      <th>Order Time</th>
      <th>Products</th>
      <th>Total Price</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>@Model.Item1.CustomerName</td>
      <td>@Model.Item1.TableNo</td>
      <td>
        @{
          int hours = Model.Item1.OrderDate.Hour;
          int minutes = Model.Item1.OrderDate.Minute;

          string formattedHours = hours < 10 ? "0" + hours.ToString() : hours.ToString();
          string formattedMinutes = minutes < 10 ? "0" + minutes.ToString() : minutes.ToString();

          string currentTimeString = formattedHours + ":" + formattedMinutes;
        }
        @currentTimeString
      </td>
      <td>
        @{
          foreach (var product in Model.Item2)
          {
            <span>@product.Name @Model.Item4[product.ProductId]x &nbsp;&nbsp;
              $@(product.Price * Model.Item4[product.ProductId])</span>

            <br>
          }
        }
      </td>
      <td>
        <span>$@Model.Item1.TotalPrice</span>
      </td>
      <td>
        <a asp-controller="Order" asp-action="Edit" asp-route-id="@Model.Item1.OrderId"
          class="btn btn-primary btn-sm">Edit</a>
        <a asp-controller="Order" asp-action="Delete" asp-route-id="@Model.Item1.OrderId"
          class="btn btn-danger btn-sm">Delete</a>
      </td>
    </tr>
  </tbody>
</table>



