@model CafeApp.Models.Product

@{
    ViewBag.Title = "Create Product";
}

<h2>Create New Product</h2>

@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-group">
        @Html.LabelFor(model => model.Name)
        @Html.TextBoxFor(model => model.Name, new { @class = "form-control" })
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.ImageSrc)
        @Html.TextBoxFor(model => model.ImageSrc, new { @class = "form-control" })
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Details)
        @Html.TextBoxFor(model => model.Details, new { @class = "form-control" })
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Price, "Price")
        @Html.EditorFor(model => model.Price, new { htmlAttributes = new { @class = "form-control" }})
    </div>

    <input type="submit" value="Create" class="btn btn-danger" />
}

