@model CafeApp.Models.Product

@{
    ViewData["Title"] = "Edit Product";
}

<h2>Edit Product</h2>

@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()

    @Html.HiddenFor(model => model.ProductId)

    <div class="form-group">
        @Html.LabelFor(model => model.Name)
        @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" }})
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.ImageSrc)
        @Html.EditorFor(model => model.ImageSrc, new { htmlAttributes = new { @class = "form-control" }})
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Type)
        @Html.DropDownListFor(model => model.Type, new SelectList(new List<string> { "Beverage", "Dessert" }), new { @class = "form-control", id = "productType" })
    </div>

    <div id="beverageOptions" style="@(Model.Type == "Beverage" ? "block" : "none")">
        @Html.LabelFor(model => model.Option)
        @Html.DropDownListFor(model => model.Option, new SelectList(new List<string> { "Tall", "Grande", "Venti" }), new { @class = "form-control" })

        <div class="form-group">
            @Html.LabelFor(model => model.PriceTall, "Price for Tall")
            @Html.EditorFor(model => model.PriceTall, new { htmlAttributes = new { @class = "form-control" }})
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.PriceGrande, "Price for Grande")
            @Html.EditorFor(model => model.PriceGrande, new { htmlAttributes = new { @class = "form-control" }})
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.PriceVenti, "Price for Venti")
            @Html.EditorFor(model => model.PriceVenti, new { htmlAttributes = new { @class = "form-control" }})
        </div>
    </div>

    <div id="dessertPrice" style="@(Model.Type == "Dessert" ? "block" : "none")">
        @Html.LabelFor(model => model.PriceDessert, "Price for Dessert")
        @Html.EditorFor(model => model.PriceDessert, new { htmlAttributes = new { @class = "form-control" }})
    </div>

    <input type="submit" value="Save" class="btn btn-primary" />
}

@section Scripts {
    <script src="~/lib/jquery/dist/jquery.js"></script>
    <script>
        $(document).ready(function () {
            $('#productType').change(function () {
                var selectedType = $(this).val();
                if (selectedType == "Beverage") {
                    $('#beverageOptions').show();
                    $('#dessertPrice').hide();
                } else if (selectedType == "Dessert") {
                    $('#dessertPrice').show();
                    $('#beverageOptions').hide();
                } else {
                    $('#beverageOptions').hide();
                    $('#dessertPrice').hide();
                }
            });
        });
    </script>
}
